apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: scraper

resources:
  - namespace.yaml
  - configmap.yaml
  - pvc.yaml
  - job-base.yaml
  - cronjob.yaml

replicas:
  - name: scraper-CITY_PLACEHOLDER
    count: 3

patches:
  - path: job-lodz-patch.yaml
    target:
      kind: Job
      name: scraper-CITY_PLACEHOLDER-0
  - path: job-wroclaw-patch.yaml
    target:
      kind: Job
      name: scraper-CITY_PLACEHOLDER-1
  - path: job-warszawa-patch.yaml
    target:
      kind: Job
      name: scraper-CITY_PLACEHOLDER-2

labels:
- pairs:
    app.kubernetes.io/name: adresowo-scraper
    app.kubernetes.io/version: "1.0.0"
  includeSelectors: true

images:
  - name: adresowo-scraper
    newTag: latest